<!--
  @author Oliver Shen 6/23
  _topbanner.erb – Top Banner partial for Prof. Eric Fosler-Lussier’s site
  Renders site name and navigation tabs.
  Each tab’s URL is pulled from data.top_banner in top_banner.yml.
-->
<nav class="top-banner">
  <!-- 左侧：两份同外观按钮，指向不同 hash -->
  <a href="#collapse" class="tb-left tb-left--to-collapse">三 Oliver Shen</a>
  <a href="#expand"   class="tb-left tb-left--to-expand">三 Oliver Shen</a>

  <% # 比较时忽略 hash（否则 /xxx.html 和 /xxx.html#collapse 不会高亮） %>
  <% strip_hash = ->(u) { u.to_s.sub(/#.*$/, '') } %>
  <% current_nohash = strip_hash.call(current_page.url) %>

  <!-- 展开态菜单：正常链接 -->
  <ul class="tb-right tb-right--expanded">
    <% data.top_banner.nav.each do |item| %>
      <% href = item.url.to_s %>
      <li>
        <a href="<%= href %>" class="<%= (current_nohash == strip_hash.call(href)) ? 'active' : '' %>">
          <%= item.label %>
        </a>
      </li>
    <% end %>
  </ul>

  <!-- 折叠态菜单：每个链接后都带 #collapse，跨页保持折叠 -->
  <ul class="tb-right tb-right--collapsed">
    <% data.top_banner.nav.each do |item| %>
      <% href = "#{item.url}#collapse" %>
      <li>
        <a href="<%= href %>" class="<%= (current_nohash == strip_hash.call(href)) ? 'active' : '' %>">
          <%= item.label %>
        </a>
      </li>
    <% end %>
  </ul>
</nav>




