<div>
                        <ul class = "unbulleted">
				<li>Office: <a href = "<%= data.left_banner_contacts.Office_URL %>"><%= data.left_banner_contacts.Office_Name %></a></li>
                                <li>Phone:  <span class = "gray3"><%= data.left_banner_contacts.Phone %></span></li>
                                <li>Email: <span class = "gray3">fosler@cse.osu.edu</span> </li>
                                <li>Mailing address:<span class = "gray3"> <%= data.left_banner_contacts.Mailing_Address %> </span></li>
                                <li>Lab Github: <a href = "<%= data.left_banner_contacts.Lab_Github_URL %>">Lab Github</a></li>
                                <li>Github: <a href = "<%= data.left_banner_contacts.Github_URL %>">Link</a></li>
                                <li>Google Scholar: <a href = "<%= data.left_banner_contacts.Google_Scholar_URL %>">Link</a></li>
                        </ul>
</div>

