---
title: "Publications"
---
<!-- Created Oliver Shen 6/24/2025 to Display the teaching tab of the website -->

<link rel = "stylesheet" href = "stylesheets/publications.css">

<div class="year-nav-container">

  <input type="checkbox" id="yearToggle" class="year-toggle-checkbox">

  <label for="yearToggle" class="year-toggle-button">☰ Years</label>

  <% years = data.publications.categories.map { |c| c.year.to_i }.sort.reverse %>
  <nav class="year-nav">
    <% years.each do |y| %>
      <a href="#year-<%= y %>" id="nav-<%= y %>"><%= y %></a>
    <% end %>
  </nav>
</div>

<section class="publications">
  <h1>Publications</h1>

  <% data.publications.categories.sort_by { |c| -c.year }.each do |category| %>
    <div id="year-<%= category.year %>" class="anchor-offset">
      <h2><%= category.year %></h2>
      <ul class="pub-list">
        <% category.items.each do |pub| %>
          <li>
            <span class="black_tag"><%= pub.venue_short %></span>
            <%= pub.authors.join(", ") %>,
            “<%= pub.title %>”,
            <em><%= pub.venue %></em><% if pub.vol && pub.pages %>, <%= pub.vol %>, <%= pub.pages %><% end %>,
            <%= pub.year %>.<% if pub.doi && !pub.doi.empty? %> <a href="<%= pub.doi %>" class="pub-link" target="_blank">DOI</a><% end %>
            <br><br>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</section>

